<div class="col-10 offset-1 about">
  <h1>About</h1>

  <br />

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me_copy.jpg', class: 'img-fluid' %>
  </div>

<br class="clear" />


<p>  Unsolicited Advice was built by <a target="_blank" href="https://genevieve-bell.netlify.com/">Genevieve Bell.</a> Genevieve comes from a long line of busybodies, buttinski's, backseat drivers, and other variants of unsolicited-advice givers. She has been giving advice despite not being asked for 27 years. 
</p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />